$fa-font-path: "/bower_components/font-awesome/fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "include";

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding-right: 0.5em;
  }
}
pre {
  font-size: 8pt;
}

.anatomy.muteUi {
  a {
    display: none;
  }
}

.anatomyFrame {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
  border: 2px solid black;
}

label {
  margin-left: 15px;
}