@import "include";

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding-right: 0.5em;
  }
}
pre {
  font-size: 8pt;
}

.anatomy.muteUi {
  a {
    display: none;
  }
}

.anatomy {
  margin: 0 5px;
  border: solid 1px #999;
}

.anatomyFrame {
  height: 500px;
}