<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="anatomyApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="MainCtrl">
      <hr />
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="anatomyFrame">
              <anatomy 
                  ng-if="scene.scene.length"
                  scene="scene" 
                  camera="camera" ng-class="{muteUi:muteUi}"></anatomy>
            </div>
          </div><!-- .col-sm-8 -->
          <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="scene.scene" placeholder="scene" />
            <pre>{{ camera | json }}</pre>
            <!-- <pre>{{ scene | json }}</pre> -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-sm-12">
            <hr />
            <ul>
              <li>Toggle: <a href="#" ng-click="toggleVis()">visibility</a> / <a href="#" ng-click="toggleUi()">UI</a></li>
              <li>Init: <a href="#" ng-click="setCamInit()">set</a> / <a href="#" ng-click="restoreCamInit()">restore</a></li>
              <li>A: <a href="#" ng-click="setCamA()">set</a> / <a href="#" ng-click="restoreCamA()">restore</a></li>
              <li>B: <a href="#" ng-click="setCamB()">set</a> / <a href="#" ng-click="restoreCamB()">restore</a></li>
              <li>Center: <a href="#" ng-click="setCamCenter()">set</a> / <a href="#" ng-click="restoreCamCenter()">restore</a></li>
            </ul>
            <hr>
            <h3>Scene:</h3>
          </div><!-- .col-sm-12 -->
          <div class="col-sm-6">
            <pre>{{ scene }}</pre>
          </div>
          <div class="col-sm-6">
            <pre>{{ scene | json }}</pre>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
    </div>
    
    <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      angular.module('anatomyApp', [
        'ngCookies',
        'life.anatomy',
      ]).controller('MainCtrl', function ($scope, $cookies, lodash) {

        // Current camera position (null when not in an interactive mode)
        $scope.camera = {};

        $scope.muteUi = false;

        console.log($cookies.getObject('_scene'));
        $scope.scene = $cookies.getObject('_scene') || {
              scene: '',
              poster: '',
              sound: '',
              camInit: null,
              camA: null,
              camB: null,
              camCenter: null,
            };

        $scope.$watch('scene', lodash.debounce(function() {
          console.log($scope.scene);
          $cookies.putObject('_scene', $scope.scene);
        }, 500), true);

        $scope.toggleVis = function() {
          $scope.scene.hidden = !$scope.scene.hidden;
        };
        $scope.toggleUi = function() {
          $scope.muteUi = !$scope.muteUi;
        };

        $scope.setCamInit = function() {
          $scope.scene.camInit = angular.copy($scope.camera);
        };
        $scope.restoreCamInit = function() {
          $scope.camera = angular.copy($scope.scene.camInit);
        };
        $scope.setCamA = function() {
          $scope.scene.camA = angular.copy($scope.camera);
        };
        $scope.restoreCamA = function() {
          $scope.camera = angular.copy($scope.scene.camA);
        };
        $scope.setCamB = function() {
          $scope.scene.camB = angular.copy($scope.camera);
        };
        $scope.restoreCamB = function() {
          $scope.camera = angular.copy($scope.scene.camB);
        };
        $scope.setCamCenter = function() {
          $scope.scene.camCenter = angular.copy($scope.camera);
        };
        $scope.restoreCamCenter = function() {
          $scope.camera = angular.copy($scope.scene.camCenter);
        };
      });
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/directives/anatomy.js"></script>
    <!-- endbuild -->
  </body>
</html>
