<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="anatomyApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="MainCtrl">
      <hr />
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="anatomyFrame">
              <anatomy scene="scene" camera="camera" ng-class="{muteUi:muteUi}"></anatomy>
            </div>
          </div><!-- .col-sm-8 -->
          <div class="col-sm-4">
            <pre>{{ camera | json }}</pre>
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-sm-12">
            <hr />
            <ul>
              <li><a href="#" ng-click="toggle()">Toggle visibility</a></li>
              <li><a href="#" ng-click="toggleUi()">Toggle UI</a></li>
              <li>Init: <a href="#" ng-click="setCamInit()">set</a>/<a href="#" ng-click="restoreCamInit()">restore</a></li>
              <li>A: <a href="#" ng-click="setCamA()">set</a>/<a href="#" ng-click="restoreCamA()">restore</a></li>
              <li>B: <a href="#" ng-click="setCamB()">set</a>/<a href="#" ng-click="restoreCamB()">restore</a></li>
            </ul>
            <hr>
          </div><!-- .col-sm-12 -->
          <div class="col-sm-4">
            <pre>{{ scene.camInit }}</pre>
            <pre>{{ scene.camInit | json }}</pre>
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <pre>{{ scene.camA }}</pre>
            <pre>{{ scene.camA | json }}</pre>
          </div><!-- .col-sm-4 -->
          <div class="col-sm-4">
            <pre>{{ scene.camB }}</pre>
            <pre>{{ scene.camB | json }}</pre>
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
    </div>
    
    <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/anatomy.js"></script>
    <!-- endbuild -->
  </body>
</html>
