<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="anatomyApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="MainCtrl">
      <hr />
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="anatomyFrame">
              <anatomy 
                  scene="scene" 
                  camera="camera" ng-class="{muteUi:muteUi}"></anatomy>
            </div>
          </div><!-- .col-sm-8 -->
          <div class="col-sm-4">
            <h4>Scene</h4>
            <input type="text" class="form-control" ng-model="scene.scene" placeholder="scene" />
            <textarea ng-model="cameraStr" class="form-control" placholder="Default camera..."></textarea>
            <hr />
            <button class="btn btn-info" ng-click="toggleUi()">UI: <span ng-if="muteUi">off</span><span ng-if="!muteUi">on</span></button>
            <button class="btn btn-info" ng-click="toggleVisibility()">Visibility: <span ng-if="scene.hidden">off</span><span ng-if="!scene.hidden">on</span></button>
            <hr />
            <h4>Positions</h4>
            <button type="button" class="btn btn-default" ng-click="setCamA()">Set A</button>
            <button type="button" class="btn btn-default" ng-click="setCamB()">Set B</button>
            <button type="button" class="btn btn-default" ng-click="setCamCenter()">Set centre</button>
            <br />
            <button type="button" class="btn btn-default" ng-click="restoreCamA()">Restore A</button>
            <button type="button" class="btn btn-default" ng-click="restoreCamB()">Restore B</button>
            <button type="button" class="btn btn-default" ng-click="restoreCamCenter()">Restore centre</button>
            <hr >
            <h4>Synced camera</h4>
            <pre>{{ camera | json }}</pre>
            <hr >
            <button class="btn btn-danger" ng-click="clear()">Clear</button>
            <!-- <pre>{{ scene | json }}</pre> -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-sm-12">
            <hr />
            <h3>Scene:</h3>
          </div><!-- .col-sm-12 -->
          <div class="col-sm-6">
            <pre>{{ scene }}</pre>
          </div>
          <div class="col-sm-6">
            <pre>{{ scene | json }}</pre>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .container-fluid -->
    </div>
    
    <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      angular.module('anatomyApp', [
        'ngCookies',
        'life.anatomy',
      ]).controller('MainCtrl', function ($scope, $cookies, lodash, $window) {

        // Current camera position (null when not in an interactive mode)
        $scope.camera = {};
        $scope.cameraStr = $cookies.get('_cam') || '';

        $scope.muteUi = false;
        $scope.scene = $cookies.getObject('_scene') || {
              scene: '',
              poster: '',
              sound: '',
              camA: null,
              camB: null,
              camCenter: null,
            };

        $scope.$watch('scene', lodash.debounce(function() {
          $cookies.putObject('_scene', $scope.scene);
          $scope.scene.poster = 'images/'+$scope.scene.scene+'.jpg';
        }, 500), true);

        $scope.$watch('cameraStr', function() {
          $cookies.put('_cam', $scope.cameraStr);
          if ( $scope.cameraStr.length ) {
            $scope.scene.camera = JSON.parse($scope.cameraStr);
          } else {
            $scope.scene.camera = null;
          }
        });

        $scope.isReady = function() {
          return $scope.scene.scene && (
              lodash.isObject($scope.scene.camera) || lodash.isObject($scope.scene.camInit));
        }
        $scope.clear = function() {
          $cookies.remove('_cam');
          $cookies.remove('_scene');
        }

        $scope.toggleVisibility = function() {
          $scope.scene.hidden = !$scope.scene.hidden;
        };
        $scope.toggleUi = function() {
          $scope.muteUi = !$scope.muteUi;
        };

        $scope.setCamA = function() {
          if ( !lodash.size($scope.camera) ) { return; }
          $scope.scene.camA = angular.copy($scope.camera);
        };
        $scope.setCamB = function() {
          if ( !lodash.size($scope.camera) ) { return; }
          $scope.scene.camB = angular.copy($scope.camera);
        };
        $scope.setCamCenter = function() {
          if ( !lodash.size($scope.camera) ) { return; }
          $scope.scene.camCenter = angular.copy($scope.camera);
        };

        $scope.restoreCamA = function() {
          $scope.camera = angular.copy($scope.scene.camA);
        };
        $scope.restoreCamB = function() {
          $scope.camera = angular.copy($scope.scene.camB);
        };
        $scope.restoreCamCenter = function() {
          $scope.camera = angular.copy($scope.scene.camCenter);
        };
      });
    </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/directives/anatomy.js"></script>
    <!-- endbuild -->
  </body>
</html>
